<div class="about">
    <h1>ABOUT</h1>
    <hr>
    <div class="row">
        <div class="lefCol">
            <img class="insta" src="assets/img/profile3.jpg">
        </div>
        <div class="rightCol">
            <h3>INTRO</h3>
            <p>My name is Adrian. I am a junior software
                engineering major and business minor. I
                attend the University of Nebraska-Lincoln.
                I'm a sagittarius and I like long walks on
                Nebraskan beaches aka cornfields. I hope that I
                can bring more LGBT diversity to the tech industry,
                and I will be looking for an internship for summer 2020.
            </p>
        </div>

        <div class="row">
            <div class="missionRight">
                <img class="insta" src="assets/img/profile2.jpg">
            </div>
            <div class="mission">
                <h3>MISSION</h3>
                <p>My long-term goal is to find ways where
                    tech and social justic overlap. I believe tech
                    has the power to be used for social good, but
                    othertimes tech is used in unethical ways. I
                    want a breadth of software knowledge to help me
                    become a leader at wherever I work. I embody
                    integrity and hardwork all while having a good time,
                    and that is the culture I want to foster as a future leader.
                </p>
            </div>
        </div>
    </div>
</div>