<body>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <h1>CONTACT</h1>
    <hr>
    <ul>
        <li>
            <a href="https://www.linkedin.com/in/adrian-pilkington-02274a155/" target="_blank">
                <span class="ln"></span>
                <span class="ln"></span>
                <span class="ln"></span>
                <span class="ln"></span>
                <span class="fa fa-linkedin ln"></span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://github.com/apilkington2" target="_blank">
                <span class="gg"></span>
                <span class="gg"></span>
                <span class="gg"></span>
                <span class="gg"></span>
                <span class="fa fa-github gg" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
    <ul>
            <li>
                <a href="https://www.instagram.com/not.adrain/" target="_blank">
                    <span class="ig"></span>
                    <span class="ig"></span>
                    <span class="ig"></span>
                    <span class="ig"></span>
                    <span class="fa fa-instagram ig"></span>
                </a>
            </li>
        </ul>
    <ul>
        <li>
            <a href="https://www.youtube.com/user/6pilkadrian" target="_blank">
                <span class="fb"></span>
                <span class="fb"></span>
                <span class="fb"></span>
                <span class="fb"></span>
                <span class="fa fa-youtube-play fb" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://twitter.com/pilkadrian" target="_blank">
                <span class="tt"></span>
                <span class="tt"></span>
                <span class="tt"></span>
                <span class="tt"></span>
                <span class="fa fa-twitter tt"></span>
            </a>
        </li>
    </ul>




</body>