<body background="assets/img/back2.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <button mat-fab class="buttonB blue" (click)="openAbout()">About</button>
          <button mat-fab class="buttonB blue" (click)="openProjects()">Projects</button>
          <button mat-fab class="buttonB red" (click)="openContact()">Contact</button>
          <button mat-fab class="buttonB red" (click)="openResume()">Resume</button>
      </div>
    </div>
  </div>
</body>
